/* aboutUs */

.section-aboutUs {
    padding: 83px 0 70px;
}

.section-aboutUs__heading {
    margin-bottom: 13px;
}

.section-aboutUs__discription {
    max-width: 67%;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
}
