.section-catalog {
  padding: 80px 0;
}

.section-catalog__heading {
  margin-bottom: 14px;
}

.section-catalog__discription {
  max-width: 1020px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 2;
  color: var(--gray20);
  font-weight: 400;
}

.catalog-tabs {
  display: flex;
  justify-content: space-between;
}

.tabs-content {
  display: none;
  max-width: 48%;
}

.tabs-active {
  display: inline-block;
}

.tabs-content__picture {
  display: block;
  margin-bottom: 28px;
}

.tabs-content__heading {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray20);
  font-weight: 600;
}

.tabs-content__years-of-life {
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16.34px;
  color: var(--gray60);
  font-weight: 400;
}

.tabs-content__discription {
  max-width: 700px;
  font-size: 16px;
  line-height: 2;
  color: var(--gray20);
  font-weight: 400;
}

.tabs-accordion {
  width: 50%;
  border-bottom: 1px solid var(--lightgray);
}

.accordion-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
  padding: 40px 0;
  border-top: .5px solid var(--lightgray);
  border-bottom: .5px solid var(--lightgray);
  transition: border-top-color .3s ease-in-out;
}

.accordion-list__heading {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--gray20);
}

.accordion-list__icon svg path {
  transition: fill .3s ease-in-out;
}

.accordion-selector {
  columns: 3;
  line-height: 32px;
  column-gap: 37px;
}

.accordion-selector__btn {
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  line-height: 31px;
  font-weight: 400;
  color: var(--gray20);
  text-align: left;
  cursor: pointer;
  transition-property: color, background-color, border-bottom;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.vikketa {
  display: block;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 16px;
  font-family:  'Open-Sans', sans-serif;
}

.ui-icon {
  display: none;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  padding: 30px 0;
}

.ui-state-default {
  position: relative;
  margin-bottom: -1px;
  border-radius: 0;
  border: none;
  border-top: .5px solid var(--lightgray);
  border-bottom: .5px solid var(--lightgray);
  background-color: transparent;
}

.ui-state-active {
  border: none;
  border-top: 1px solid var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
  background-color: transparent;
}

.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-accordion .ui-accordion-header {
  position: static;
  padding: 28.9px 0;
  margin: 0;
}

.ui-state-active {
  border-top-color: var(--moderateviolet);
  border-bottom-color: var(--moderateviolet);
}

.ui-accordion .ui-accordion-content {
  padding: 25px 100px 25px 0;
}

.ui-state-active .accordion-list__heading {
  color: var(--moderateviolet);
}

.ui-state-active svg path {
  stroke: var(--moderateviolet);
  fill: var(--verysoftviolet);
}

.ui-state-active svg {
  transform: rotate( 180deg);
}

.accordion-list .accordion-list__heading {
  transition: color .3s ease-in-out;
}

.ui-state-default:hover {
  z-index: 100;
  border-top-color: var(--moderateviolet);
  border-bottom-color: var(--moderateviolet);
}

.accordion-list:hover .accordion-list__heading {
  color: var(--moderateviolet);
}

.accordion-list:hover svg path {
  fill: var(--verysoftviolet);
}

.accordion-list:hover {
  border-top-color: var(--moderateviolet);
}

.accordion-list:focus {
  outline: none;
}

.accordion-list:focus .accordion-list__heading {
  outline: none;
  color: var(--white);
  background-color: var(--moderateviolet);
}

.accordion-list__icon:focus {
  outline: none;
}

.accordion-list__icon:focus svg path {
  fill: var(--verysoftviolet);
}

.accordion-list:focus svg path {
  fill: var(--verysoftviolet);
}

.accordion-selector__btn:hover {
  color: var(--moderateviolet);
  border-bottom: 1px solid var(--moderateviolet);
}

.accordion-selector__btn:focus {
  color: var(--white);
  background-color: var(--moderateviolet);
}

@media (max-width: 1200px) {

  .section-catalog {
    padding: 84px 0;
  }

  .section-catalog__discription {
    margin-bottom: 37.5px;
  }

  .tabs-content__discription {
    max-width: 420px;
  }

  .tabs-accordion {
    width: 47.4%;
  }

  .accordion-selector {
    columns: 2;
    column-gap: 190px;
  }

  .accordion-selector__btn {
    width: 200px;
  }

  .ui-accordion .ui-accordion-content {
    padding-bottom: 25px;
  }

}

@media (max-width: 900px) {

  .section-catalog {
    padding: 84px 0 74px;
  }

  .section-catalog__heading {
    margin-bottom: 16px;
  }

  .section-catalog__discription {
    margin-bottom: 18px;
  }

  .catalog-tabs {
    flex-direction: column-reverse;
  }

  .tabs-content {
    max-width: 100%;
  }

  .tabs-accordion {
    width: 100%;
    margin-bottom: 48px;
    border: none;
  }

  .accordion-selector {
    width: 668px;
    column-count: 3;
  }

  .accordion-selector__btn {
    width: 210px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 31px 0 27px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 25px 110px 23px 0;
  }

  .tabs-content__discription {
    max-width: 95%;
  }

}

@media (max-width: 720px) {
  .accordion-selector {
    width: 490px;
    columns: 2;
  }
}

@media (max-width: 560px) {

  .section-catalog {
    padding: 50px 0 50px;
  }

  .section-catalog__heading {
    margin-bottom: 12.5px;
  }

  .section-catalog__discription {
    display: none;
  }

  .accordion-list__heading {
    font-size: 18px;
    line-height: 32px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 20px 0 15px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 110px 21px 0;
  }

  .tabs-accordion {
    margin-bottom: 52px;
  }

  .accordion-selector {
    max-width: 290px;
    columns: 1;
  }

  .accordion-list__icon svg {
    width: 30px;
    height: 30px;
  }

  .tabs-content__picture {
    margin-bottom: 18px;
  }

  .tabs-content__heading {
    margin-bottom: 10px;
  }

  .tabs-content__years-of-life {
    margin-bottom: 5px;
  }

}
