.section-contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 35px;
  border: 1px solid var(--lightgray);
}

.section-contacts__discription {
  max-width: 247px;
}

.contacts-discription__heading {
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray20);
  font-weight: 600;
}

.contacts-discription__adres {
  font-size: 16px;
  list-style: none;
  line-height: 2;
  color: var(--gray20);
  font-weight: 400;
}

.section-contacts__form {
  display: flex;
  justify-content: space-between;
  max-width: 905px;
  width: 100%;
}

.contacts-form__input {
  width: 270px;
  height: 50px;
  padding: 11px 43px;
  border: 1px solid var(--gray20);
  border-radius: 100px;
}

.contacts-form__btn {
  width: 320px;
  height: 50px;
  padding: 12.5px 35px;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  color: var(--moderateviolet);
  background-color: transparent;
  cursor: pointer;
}

.contacts-social__heading {
  margin-bottom: 2.5px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray20);
  font-weight: 600;
}

.contacts-social__link:not(:last-child) {
  margin-right: 13px;
}

.maps {
  max-width: 1920px;
  min-height: 699px;
}
