.section-contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 35px;
  border: 1px solid var(--lightgray);
}

.section-contacts__discription {
  max-width: 247px;
}

.contacts-discription__heading {
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray20);
  font-weight: 600;
}

.contacts-discription__adres {
  font-size: 16px;
  list-style: none;
  line-height: 2;
  color: var(--gray20);
  font-weight: 400;
}

.section-contacts__form {
  display: flex;
  justify-content: space-between;
  max-width: 905px;
  width: 100%;
}

.contacts-form__input {
  max-width: 270px;
  width: 100%;
  height: 50px;
  padding: 11px 65px 11px 23px;
  border: 1px solid var(--gray20);
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.contacts-form__input:hover,
.contacts-form__input:focus {
  background-color: #eaeaea;
}

.contacts-form__group {
  display: flex;
  flex-direction: column;
}

.js-validate-error-label {
  padding-left: 30px;
  order: -1;
  }

.contacts-form__btn2 {
  display: none;
}

.contacts-form__btn {
  max-width: 320px;
  width: 100%;
  height: 50px;
  padding: 12.5px 35px;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  color: var(--moderateviolet);
  background-color: transparent;
  cursor: pointer;
  transition-property: transform, color, border, outline, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts-form__btn:hover {
  color: var(--white);
  background-color: var(--moderateviolet);
  border: 1px solid var(--verysoftviolet);
  transform: scale(1.02);
}

.contacts-form__btn:focus {
  color: var(--white);
  border: 2px solid var(--white);
  outline: 1px solid var(--softviolet);
}

.contacts-form__btn:active {
  color: var(--white);
  background-color: var(--darkmoderateviolet);
  border: 1px solid var(--verysoftviolet);
  transform: scale(.95);
}

.contacts-social__heading {
  margin-bottom: 2.5px;
  font-size: 24px;
  line-height: 1.5;
  color: var(--gray20);
  font-weight: 600;
}

.contacts-social__link {
  transition-property: border-radius, border, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts-social__link:not(:last-child) {
  margin-left: -3px;
  margin-right: 16px;
}

.contacts-social__link:hover,
.contacts-social__link:focus {
 opacity: .6;
}

.contacts-social__link:active svg {
  border-radius: 50%;
  border:  2px solid var(--black);
  opacity: 1;
}

.maps {
  max-width: 1920px;
  min-height: 699px;
  margin: 0 auto;
}

@media (max-width:1720px) {

  .contacts-form__btn {
    max-width: 343px;
    padding: 12px 30px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {

  .section-contacts__container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-contacts__discription,
  .section-contacts__form {
    margin-bottom: 30px;
  }

  .section-contacts__form {
    max-width: 100%;
  }

  .contacts-form__btn {
    max-width: 343px;
  }

  .contacts-social__link:not(:last-child) {
    margin-left: 0;
  }

}

@media (max-width: 900px) {

  .section-contacts__container {
    padding-top: 42px;
    padding-bottom: 38px;
  }

  .section-contacts__form {
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  .contacts-form__input {
    max-width: 320px;
    width: 100%;
    padding: 11px 120px 11px 25px;
  }

  .contacts-form__btn {
    max-width: 320px;
    margin-top: 13px;
  }

}

@media (max-width: 560px) {

  .section-contacts__container {
    border: none;
  }

  .section-contacts__container {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .contacts-discription__heading {
    font-size: 18px;
    line-height: 24.51px;
    font-weight: 600;
  }

  .contacts-discription__adres {
    line-height: 19.5px;
  }

  .section-contacts__discription {
    margin-bottom: 13px;
  }

  .section-contacts__form {
    margin-bottom: 23px;
  }

  .contacts-form__input {
    width: 290px;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px 25px;
  }

  .contacts-form__btn {
    display: none;
  }

  .contacts-form__btn2 {
    display: block;
    height: 40px;
    padding: 12px 35px;
    font-size: 12px;
    line-height: 16.34px;
    font-weight: 700;
    color: var(--moderateviolet);
    transition-property: transform, color, border, outline, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .contacts-form__btn2:hover {
    color: var(--white);
    background-color: var(--moderateviolet);
    border: 1px solid var(--verysoftviolet);
    transform: scale(1.02);
  }

  .contacts-form__btn2:focus {
    color: var(--white);
    border: 2px solid var(--white);
    outline: 1px solid var(--softviolet);
  }

  .contacts-form__btn2:active {
    color: var(--white);
    background-color: var(--darkmoderateviolet);
    border: 1px solid var(--verysoftviolet);
    transform: scale(.95);
  }

  .contacts-social__heading {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
  }

  .contacts-social__link svg {
    width: 50px;
    height: 50px;
  }

  .maps {
    min-height: 315px;
  }

}
