* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSansBold.woff2') format('woff2'), url('../fonts/OpenSansBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSansSemiBold.woff2') format('woff2'), url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSansItalic.woff2') format('woff2'), url('../fonts/OpenSansItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --white--rgb: 255, 255, 255;
  --black: #000000;
  --black--rgb: 0, 0, 0;
  --verydarkgray: #666666;
  --gray90: #e5e5e5;
  --gray60: #999999;
  --gray20: #333333;
  --lightgray: #cacaca;
  --lightlightgray: #c4c4c4;
  --verylightgray: #ececec;
  --moderateviolet: #9d5cd0;
  --moderateviolet--rgb: 157, 92, 208;
  --darkmoderateviolet: #7943a4;
  --verysoftviolet: #d1a9f0;
  --softviolet: #c283f3;
  --softviolet--rgb: 194, 131, 243;
}

body {
  font-family: 'Open-Sans', sans-serif;
}

ul {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, a, span, ul,
button, input {
  margin: 0;
  padding: 0;
}

a, button, select, input, label {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
}

.overflow {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
}

.heading {
  margin: 0;
  font-size: 48px;
  line-height: 65.37px;
  color: var(--gray20);
  font-weight: 400;
}

.titel {
  font-weight: 700;
}

.btn {
  max-width: 314px;
  height: 70px;
  padding: 22px 35px;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--moderateviolet);
  border-radius: 100px;
  cursor: pointer;
}
